.MenuHome {
  height: 8vh;
  display: flex;
  position: fixed;
  top: 0;
  gap: 16%;
  padding: 4% 2%;
  width: 100%;
  transition: background-color 0.3s ease;
  z-index: 1000;
  &.scrolled {
    background-color: rgb(126, 0, 0); /* burgundy */
  }

  .master {
    width: 70%;
    height: auto;

    h2 {
      cursor: pointer;
    }
  }

  .burger {
    width: 45px;
    height: 5vh;
    padding: 0.5% 1%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
    top: 20px;
    left: 20px;
    z-index: 1001;

    .line {
      height: 3px;
      background: #ffffff;
      border-radius: 2px;
      transition: all 0.3s ease;
    }
  }

  .sideMenu {
    position: fixed;
    right: -250px; /* hidden */
    width: 250px;
    height: 50%;
    background: rgba(255, 255, 255, 0.15); /* glass effect */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
    top: 10%;
    padding-top: 60px;
    transition: right 0.3s ease;
    z-index: 1000;

    &.show {
      right: 5%;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 20px 0;
        text-align: center;

        a {
          text-decoration: none;
          color: white;
          font-size: 1.4rem;
          transition: color 0.2s ease;

          &:hover {
            color: #f39c12;
          }
        }
      }
    }
  }
}
